USE [AKUZDB]
GO
/****** Object:  StoredProcedure [dbo].[spx_Warranty_Program_ExportToSQL]    Script Date: 08.08.2024 14:41:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spx_Warranty_Program_ExportToSQL]
 @WarrantyProgramID uniqueidentifier,
 @xml varchar(max) out
AS
BEGIN
	SET @xml = 
	(
		SELECT 
			wp.[WarrantyProgramID]
		,	wp.[Name]
		,	wp.[ValidThrough]
		,	wp.[PackName]
		,	wp.[PackNamePrefix]
		,	(
				SELECT 
					wpg.[WarrantyProgramGroupID]
				,	wpg.[Name]
				,	wpg.[Entity]
				,	wpg.[WarrantyProgram]
				,	wpg.[Criteria]
				,	wpg.[DatePath]
				,	wpg.[DateLexem] 
				,	wpg.[CriteriaExist]
				,	wpg.[PackNameLexem]
				,	wpg.[CorrCriteria]
				,   wpg.[GroupLexem]
				, (
						SELECT
						wpi.[WarrantyProgramItemID]
					,	wpi.[Code]
					,	wpi.[WarrantyProgramGroup]
					,	wpi.[Name]
					,	wpi.[FullName]
					,	wpi.[Criteria]
					,	wpi.[Priority] 
					,	wpi.[ServiceCode]
					,	wpi.[Code2]
					, (
							SELECT
							wpir.[WarrantyProgramItemRateID]
						,	wpir.[EffectiveDate]
						,	wpir.[Rate]
						,	wpir.[WarrantyProgramItem]
						,	wpir.[Ratio]
						,	wpir.[RateExtra]
						FROM [AKUZ].[T_WARRANTY_PROGRAM_ITEM_RATE] wpir
						WHERE wpir.WarrantyProgramItem = wpi.WarrantyProgramItemID
						FOR xml PATH('WARRANTY_PROGRAM_ITEM_RATE'), TYPE
					)
					FROM akuz.T_WARRANTY_PROGRAM_ITEM wpi
					WHERE wpi.WarrantyProgramGroup = wpg.WarrantyProgramGroupID
					FOR xml PATH('WARRANTY_PROGRAM_ITEM'), TYPE
				)
				, (
						SELECT
						wpgr.[WarrantyProgramGroupRateID]
					,	wpgr.[EffectiveDate]
					,	wpgr.[WarrantyProgramGroup]
					,	wpgr.[Ratio2]
					FROM [AKUZ].[T_WARRANTY_PROGRAM_GROUP_RATE] wpgr
					WHERE wpgr.WarrantyProgramGroup = wpg.WarrantyProgramGroupID
					FOR xml PATH('WARRANTY_PROGRAM_GROUP_RATE'), TYPE
				)
				, (
						SELECT
						wpf.[WarrantyProgramFieldID]
					,	wpf.[Name]
					,	wpf.[Lexem]
					,	wpf.[WarrantyProgramGroup]
					,	wpf.[DataType]
					,	wpf.[Condition]
					FROM [AKUZ].[T_WARRANTY_PROGRAM_FIELD] wpf
					WHERE wpf.WarrantyProgramGroup = wpg.WarrantyProgramGroupID
					FOR xml PATH('WARRANTY_PROGRAM_FIELD'), TYPE
				)
				, (
						SELECT
						wpgs.[WarrantyProgramGroupSortID]
					,	wpgs.[WarrantyProgramGroup]
					,	wpgs.[SortPriority]
					,	wpgs.[SortOrder]
					,	wpgs.[ValueLexem]
					FROM [AKUZ].[T_WARRANTY_PROGRAM_GROUP_SORT] wpgs
					WHERE wpgs.WarrantyProgramGroup = wpg.WarrantyProgramGroupID
					FOR xml PATH('WARRANTY_PROGRAM_GROUP_SORT'), TYPE
				)
				, (
						SELECT
						wpgf.[WarrantyProgramGroupFieldID]
					,	wpgf.[WarrantyProgramGroup]
					,	wpgf.[Name]
					,	wpgf.[ValueLexem]
					,	wpgf.[CountType]
					,	wpgf.[LexemObject]
					FROM [AKUZ].[T_WARRANTY_PROGRAM_GROUP_FIELD] wpgf
					WHERE wpgf.WarrantyProgramGroup = wpg.WarrantyProgramGroupID
					FOR xml PATH('WARRANTY_PROGRAM_GROUP_FIELD'), TYPE
				)
				FROM [AKUZ].[T_WARRANTY_PROGRAM_GROUP] wpg
				WHERE wpg.WarrantyProgram = wp.WarrantyProgramID
				FOR xml PATH('WARRANTY_PROGRAM_GROUP'), TYPE
			)
			,(
					SELECT
					wpr.[WarrantyProgramRatioID]
				,	wpr.[WarrantyProgram]
				,	wpr.[Ratio]
				,	wpr.[BeginDate]
				FROM [AKUZ].[T_WARRANTY_PROGRAM_RATIO] wpr
				WHERE wpr.WarrantyProgram = wp.WarrantyProgramID
				FOR xml PATH('WARRANTY_PROGRAM_RATIO'), TYPE
				)
		FROM [AKUZ].[T_WARRANTY_PROGRAM] wp
		WHERE wp.WarrantyProgramID = @WarrantyProgramID
		FOR xml PATH('WARRANTY_PROGRAM'), root('root')
	)
END
